@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		@apply bg-gray-800;
	}

	.navbar-icon {
		@apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-blue-500 rounded-3xl transition-all duration-300 ease-linear cursor-pointer;
		@apply hover:text-white hover:bg-blue-600 hover:rounded-xl hover:scale-[1.15];
	}

	.navbar-tooltip {
		@apply absolute w-auto p-2 m-2 min-w-max left-16 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
	}

	.spacer {
		stroke-linecap: round;
		stroke: #303034;
		stroke-width: 6;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.banner-container {
		@apply relative hover:scale-[1.1] hover:z-40 transition duration-500 min-w-[75px];
	}

	.hover-banner {
		overflow: hidden;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		position: absolute;
		bottom: 0;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.7);
		color: #f1f1f1;
		width: 100%;
		transition: 0.5s ease;
		opacity: 0;
		color: white;
		font-size: 20px;
		padding: 10%;
		text-align: center;
		border-radius: 0 0 0.75rem 0.75rem;
	}

	.banner-container:hover .hover-banner {
		opacity: 1;
	}

	.contextmenu-button {
		@apply flex-[1] justify-center items-center bg-gray-800 hover:bg-gray-900 text-gray-200 font-bold cursor-pointer z-50 align-middle;
	}

	.contextmenu-icon {
		@apply h-12 w-12 float-left;
	}

	.customscroll::-webkit-scrollbar {
		width: 20px;
	}
	.customscroll::-webkit-scrollbar-corner {
		background: rgba(0, 0, 0, 0);
	}
	.customscroll::-webkit-scrollbar-thumb {
		background-color: #ccc;
		border-radius: 6px;
		border: 4px solid rgba(0, 0, 0, 0);
		background-clip: content-box;
		min-width: 32px;
		min-height: 32px;
	}
	.customscroll::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0);
	}

	.infomenu {
		@apply relative bg-gray-900 text-gray-200 rounded-lg h-[40rem] w-[93vw] overflow-visible text-center m-7 transition duration-500 ease-linear;
		flex: 0 0 auto;
	}

	.infomenubar {
		@apply relative bottom-0 left-0 w-[93vw] h-[8rem];
		background-color: rgba(0, 0, 0, 0.8);
	}

	.popupmenu {
		@apply absolute left-0 top-0 w-screen h-screen z-50;
		background-color: rgba(0, 0, 0, 0.9);
		font-size: 25px;
	}

	.closeButton {
		@apply relative top-0 right-0 bg-gray-900 px-5 text-gray-200 font-bold hover:bg-gray-700;
		border-radius: 0px, 1.5rem, 1.5rem, 0px;
	}
}
